body {
  background-color: #741214;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #ccc6c4;
  line-height: 1.5rem
}

a, a:hover, a:visited {
  color: #fcce04;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.head, .main {
  margin: 1rem auto;
  max-width: 48rem;
}

.brand, .nav {
  padding: 1rem 0;
}

.brand-item {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6rem;
}

.brand-item, .nav-item {
  display: inline;
}

.brand-item + .brand-item:before, .nav-item + .nav-item:before {
  content: "+";
  color: #fcce04;
  padding: 0 .5em;
  font-size: 1.3em;
  font-weight: bold;
}

.nav-item {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.nav-item a {
  text-decoration: none;
  color: #ccc6c4;
}

.headline {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.1rem;
  margin-top: 1.5rem;
}

.gallery-item {
  padding: .75rem;
  display: inline-block;
}

.introduction-image {
  float: right;
  padding: .75rem;
}
