---
layout: default
title: Interieur
id: 3
---

<h1 class="headline">{{ page.title }}</h1>
<div class="introduction">
  <img class="introduction-image" src="{{ site.image_folder }}/ria_zeichnen.jpg" width="150" height="150" alt="Portrait Ria">
  <p>Der Eindruck, den ein Raum
    vermittelt, ist eine Mischung aus vielen verschiedenen Komponenten – LICHT,
    FARBE, STRUKTUR, MUSTER und RAUM. Sie alle vereinen sich, damit ein Gefühl
    für einen Raum entsteht.<br>
    Das Modische in der Architektur ist im Grunde ebenso wandelbar wie die
    Rocklänge.<br>
    Es ist letzten Endes wichtiger zu erkennen, was uns gefällt, als der Mode zu
    folgen.<br>
    Es gilt, Raum, Licht, Farbe und Materialien so aufeinander abzustimmen, dass
    unser <br>
    Geist noch erfrischt wird, wenn der &quot;letzte Schrei&quot; bereits überholt ist.<br>
    (Zitate aus dem Buch Wohn-Ideen von Terence Conran.)</p>
</div>
<ul class="gallery">
  {% assign folder = 'interieur' %}
  {% for file in site.static_files %}
    {% assign path = file.path | remove_first: '/' | split: '/' %}
    {% if path[0] == site.image_folder and path[1] == folder and path[2] == 'klein' %}
      {% if path.last contains 'vorher' %}
        <li class="gallery-item"><a href="{{ site.image_folder }}/interieur/gross/{{ path.last }}"><img src="{{ site.image_folder }}/interieur/klein/{{ path.last }}" width="150" height="150"></a><div class="gallery-description">vorher</div></li>
      {% elsif path.last contains 'nachher' %}
        <li class="gallery-item"><a href="{{ site.image_folder }}/interieur/gross/{{ path.last }}"><img src="{{ site.image_folder }}/interieur/klein/{{ path.last }}" width="150" height="150"></a><div class="gallery-description">nachher</div></li>
      {% else %}
        <li class="gallery-item"><a href="{{ site.image_folder }}/interieur/gross/{{ path.last }}"><img src="{{ site.image_folder }}/interieur/klein/{{ path.last }}" width="150" height="150"></a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
